.mobileMenuCloseButton {
  font-size: 40px;
  align-self: flex-end;
  margin-right: 30px;
}

.mobileMenuCloseButton:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .navbarLogoImage {
    width: 180px;
  }
}
@media (max-width: 768px) {
  .navbarLogoImage {
    width: 130px;
  }
}
